// Define color variables
$darkBlue: rgb(0, 21, 39);
$darkGreen: rgb(5, 75, 51);
$darkPurple: rgb(29, 5, 51);
$lightBlue: rgb(78, 171, 252);
$lightGreen: rgb(126, 247, 205);
$lightPurple: rgb(191, 127, 250);